❯ cat .env
# General
APP_ENV=dev

# Backend - General
API_GENERAL_PARAMS_SECRET_KEY=36080001349340267925113477454910
API_GENERAL_PARAMS_ACCESS_TOKEN_TTL=15
API_GENERAL_PARAMS_REFRESH_TOKEN_TTL=7

# Backend - HTTP Server
API_HTTP_SERVER_PARAMS_HTTP_SERVER_ADDRESS=0.0.0.0
API_HTTP_SERVER_PARAMS_HTTP_SERVER_PORT=8080

# Database (shared by backend, migrations, etc.)
DB_HOST=postgres # use 'localhost' when running migrations locally without Docker
DB_PORT=5432
DB_USERNAME=laba_admin
DB_PASSWORD=12345
DB_NAME=laba_main_db
DB_TIMEOUT=15

# S3 / MinIO
S3_ENDPOINT=minio:9000 # use 'localhost:9000' when accessing from host tools
S3_ACCESS_KEY_ID=laba_admin
S3_SECRET_ACCESS_KEY=12345678
S3_BUCKET_NAME=voicemessages
S3_USE_SSL=false

# MinIO root credentials (for docker-compose)
MINIO_ROOT_USER=laba_admin
MINIO_ROOT_PASSWORD=12345678
